<div class="relative pt-10 text-center">
  <h2 class="text-center text-3xl">مشخصات اولیه ماشین</h2>
  <!-- <nz-spin nzSimple [nzSize]="'large'" class="mt-20"></nz-spin> -->

  <app-select-item
    title="برند خودرو"
    [options]="brands$ | async"
    (onChange)="brandChange($event)"
    [selectedValue]="bodyFacade.selectedBrand$ | async"
  ></app-select-item>
  <app-select-item
    title="مدل خودرو"
    [options]="models$ | async"
    (onChange)="modelChange($event)"
    [selectedValue]="bodyFacade.selectedModel$ | async"
  ></app-select-item>
  <app-select-item
    title="کاربری خودرو"
    [options]="usages"
    (onChange)="usageChange($event)"
  ></app-select-item>
  <app-select-item
    title="سال ساخت"
    [options]="yearsList"
    (onChange)="builtYearChange($event)"
  ></app-select-item>

  <!-- <i
    nz-icon
    nzType="arrow-right"
    nzTheme="outline"
    class="action fixed right-3 bottom-20"
  ></i>
  <i
    nz-icon
    nzType="arrow-left"
    nzTheme="outline"
    class="action fixed left-3 bottom-20"
  ></i> -->
</div>
