<app-package-card
  title="پکیج کامل بیمه"
  [price]="fullbodyPrice"
  (purchase)="submit()"
>
  <nz-checkbox-wrapper
    (nzOnChange)="updateFullbody($event)"
    class="flex flex-col pt-2 px-4"
  >
    <label
      class="flex justify-between items-center"
      nz-checkbox
      *ngFor="let option of fullbodyOptions"
      [nzDisabled]="option.disabled"
      [nzChecked]="option.checked"
      [nzValue]="option.key"
      ><span>{{ option.key | optionName }}</span>
      <span class="mx-2">{{ option.price | number: "1.0-0" }}</span></label
    >
  </nz-checkbox-wrapper>
</app-package-card>
