<form class="pt-10 text-center pb-40" [formGroup]="form" (ngSubmit)="submit()">
  <h2 class="text-2xl">ثبت اطلاعات تکمیلی خودرو</h2>
  <div class="flex items-center justify-between px-20 pt-6">
    <nz-select
      formControlName="color_id"
      nzPlaceHolder="رنگ"
      nzSize="large"
    ></nz-select>
    <nz-select nzPlaceHolder="نوع سوخت" nzSize="large"></nz-select>
  </div>

  <p class="text-lg mt-6">مشخصات پلاک</p>
  <div
    class="w-4/5 h-20 mx-auto flex p-5 bg-gray-300 rounded-lg gap-3 items-center justify-center shadow-lg"
  >
    <input
      formControlName="plaque_serial"
      nz-input
      placeholder="55"
      type="number"
    />
    <input nz-input placeholder="555" type="number" />
    <nz-select
      formControlName="plaque_middle_char_id"
      nzPlaceHolder="الف"
    ></nz-select>
    <input
      formControlName="plaque_left_no"
      nz-input
      placeholder="55"
      type="number"
    />
  </div>

  <app-input [control]="form.get('motor_no')" title="شماره موتور"></app-input>
  <app-input [control]="form.get('vin')" title="شماره VIN"></app-input>
  <app-input [control]="form.get('chasis_no')" title="شماره شاسی"></app-input>
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 ">
    <button
      (click)="prevFlow()"
      class="bg-gray-600 text-gray-50 py-3 px-4 rounded-sm shadow-sm text-lg w-fit mx-auto mt-5"
    >
      مرحله‌ی قبل
    </button>
    <button
      class="bg-green-600 text-gray-50 py-3 px-4 rounded-sm shadow-sm text-lg w-fit mx-auto lg:mt-5"
      type="submit"
    >
      تایید و ادامه
    </button>
  </div>
</form>
