<div class="py-7 text-center">
  <h2 class="text-2xl">مراحل پیش رو</h2>
  <div class="mt-6 text-right px-5 text-lg">
    <p>۱- منتظر دریافت پیامک جهت بازدید باشید</p>
    <p>۲- با استفاده از راهنمای سیستم عکس‌های اتومبیل خود را ثبت کنید</p>
    <p>۳- منتظر تایید تصاویر توسط کارشناس باشید</p>
    <p>۴- پس از تایید شدن صحت بازدید به این صفحه برگردید</p>
    <p>۵- با پرداخت حق بیمه سفارش خود را تکمیل کنید</p>
  </div>
  <a
    [href]="paymentLink"
    class="py-3 px-6 bg-blue-500 text-lg mt-8 text-gray-50 rounded shadow-lg hover:-translate-y-0.5 hover:shadow-xl transition-all inline-block"
  >
    {{ paymentLink ? "پرداخت حق بیمه" : "درحال استعلام بازدید" }}
  </a>
</div>
